Tugas Statistika Terapan 

Nama Kelompok :

1. Farhai Ilham Hidayatullah (G1A021081)
2. Kahfi Zairan Maulana (G1A021041)

In [1]:
#Import Library Yang Digunakan
import pandas as pd
import pandas as pan
import numpy as num
import statistics
import seaborn as sns
import numpy as np

In [2]:
#Load Dataset Menggunakan URL
dataset = pan.read_csv("https://raw.githubusercontent.com/FarhaniIlhamH081/Tugas-Statistika-Terapan/main/number-of-internet-users-by-country2.csv")

In [3]:
#Load Dataset Menggunakan URL
url = "https://raw.githubusercontent.com/FarhaniIlhamH081/Tugas-Statistika-Terapan/main/number-of-internet-users-by-country2.csv"
Internet_csv = pd.read_csv(url)

In [4]:
#Menampilkan 5 Record Teratas Dari Dataset Yang Telah Di Load, Menggunakan Head()
dataset.head()

        Entity Code  Year  Number of internet users (OWID based on WB & UN)
0  Afghanistan  AFG  1990                                               NaN
1  Afghanistan  AFG  2001                                             990.0
2  Afghanistan  AFG  2002                                            1003.0
3  Afghanistan  AFG  2003                                           20272.0
4  Afghanistan  AFG  2004                                           25520.0

In [5]:
#Menampilkan 5 Record Teratas Dari Dataset Yang Telah Di Load, Menggunakan Head()
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310 entries, 0 to 309
Data columns (total 4 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Entity                                            310 non-null    object
 1   Code                                              310 non-null    object
 2   Year                                              310 non-null    int64
 3   Number of internet users (OWID based on WB & UN)  298 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 9.8+ KB

In [6]:
#Menampilkan Jumlah Baris Dan Kolom Pada Dataset
dataset.shape

(310, 4)

In [7]:
#Menampilkan Statistik Dataset
dataset.describe()

              Year  Number of internet users (OWID based on WB & UN)
count   310.000000                                      2.980000e+02
mean   2004.487097                                      2.834241e+06
std       7.616506                                      5.559255e+06
min    1970.000000                                      1.020000e+02
25%    1999.000000                                      3.000125e+04
50%    2005.000000                                      2.825670e+05
75%    2011.000000                                      2.693423e+06
max    2017.000000                                      3.111807e+07

In [8]:
#Menampilkan Missing Values
print(dataset.isnull().sum())

Entity                                               0
Code                                                 0
Year                                                 0
Number of internet users (OWID based on WB & UN)    12
dtype: int64

In [9]:
#Menghapus Missing Values Menggunakan Drop
dataset.dropna(inplace=True)
print(dataset.isnull().sum())

Entity                                              0
Code                                                0
Year                                                0
Number of internet users (OWID based on WB & UN)    0
dtype: int64

In [10]:
#Handling Missing Values Using Mean
#Mengganti Nilai NaN pada reading score menggunakan mean
dataset["Number of internet users (OWID based on WB & UN)"] = dataset["Number of internet users (OWID based on WB & UN)"].replace(num.NaN, dataset["Number of internet users (OWID based on WB & UN)"].mean())
print(dataset["Number of internet users (OWID based on WB & UN)"][:10])

1         990.0
2        1003.0
3       20272.0
4       25520.0
5      306904.0
6      545607.0
7      505719.0
8      502210.0
9      994154.0
10    1152127.0
Name: Number of internet users (OWID based on WB & UN), dtype: float64

In [11]:
#Nilai Yang Mengisi NaN Pada Kolom Reading Score Dengan Menggunakan Mean Adalah 2834240.7080536913
mean = dataset["Number of internet users (OWID based on WB & UN)"].mean()
mean

2834240.7080536913

In [12]:
#Mengganti Nilai NaN Pada Reading Score Menggunakan Median
dataset["Number of internet users (OWID based on WB & UN)"] = dataset["Number of internet users (OWID based on WB & UN)"].replace(num.NaN, dataset["Number of internet users (OWID based on WB & UN)"].median())
print(dataset["Number of internet users (OWID based on WB & UN)"][:10])

1         990.0
2        1003.0
3       20272.0
4       25520.0
5      306904.0
6      545607.0
7      505719.0
8      502210.0
9      994154.0
10    1152127.0
Name: Number of internet users (OWID based on WB & UN), dtype: float64

In [13]:
#Nilai Yang mengisi NaN Pada Kolom Reading Score Dengan Menggunakan Median Adalah 282567.0
median = dataset["Number of internet users (OWID based on WB & UN)"].median()
median

282567.0

In [14]:
#Mengganti Nilai NaN Pada Kolom Reading Score Dengan Menggunakan Mode
dataset["Number of internet users (OWID based on WB & UN)"] = dataset["Number of internet users (OWID based on WB & UN)"].replace(num.NaN, statistics.mode(dataset["Number of internet users (OWID based on WB & UN)"]))
print(dataset["Number of internet users (OWID based on WB & UN)"][:10])

1         990.0
2        1003.0
3       20272.0
4       25520.0
5      306904.0
6      545607.0
7      505719.0
8      502210.0
9      994154.0
10    1152127.0
Name: Number of internet users (OWID based on WB & UN), dtype: float64

In [15]:
#Nilai Yang Mengisi NaN Pada Kolom Reading Score Dengan Menggunakan Modus Adalah 511.0
modus = dataset["Number of internet users (OWID based on WB & UN)"].mode()
modus

0    511.0
dtype: float64

In [16]:
#Menampilkan Dataset Yang Telah Bebas Dari Missing Values
print(dataset.isnull().sum())

Entity                                              0
Code                                                0
Year                                                0
Number of internet users (OWID based on WB & UN)    0
dtype: int64